.register-form {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin: 0;
  }
  
  .btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0069d9;
  }